<app-header></app-header>
<main>
  <ul id="users">
    <!-- @for(i of users; track i.id){ -->
      <li *ngFor="let i of users">
        <app-user [user]="i" (select)="onSelectUser($event)" [selected]="i.id === selectedUser?.id"></app-user>
      </li>
    <!-- } -->
  </ul>
  <!-- @if(selectedUser){ -->
    <app-task *ngIf="selectedUser; else fallback"  [names]="selectedUser.name" [Userid]="selectedUser.id"></app-task>
  <!-- } -->
  <!-- @else { -->
   <ng-template #fallback>
     <p id="fallback">Select a user to see their tasks!</p>
   </ng-template>
  <!-- } -->
</main>
